nav {
  display: inline-flex;
  height: 100vh;
  width: 15%;
  background-color: purple;
}

.header {
  display: inline-block;
  height: 400px;
  width: 85%;
  background-color: red;
  background-image: url('../images/header.jpeg');
}


